* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
}

li, a, button {
    
    font-weight: 600;
    font-size: 16px;
    color:rgb(242, 255, 4);
    text-decoration: none;
    letter-spacing: 1px;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color:  rgb(65, 64, 64);
}

img{
    display: inline;
    border: 2px solid black;
    background-color: rgb(155, 0, 169, 1);
    padding: 0.2%;
    
}

.hero{
    width: 100%;
    height: 120vh;
    position: absolute;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(65, 64, 64);
    z-index: -2;
}

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: rgb(242, 255, 4);    
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 1.5%;
    /* margin-bottom: 90px; */
    width: 40%;
    margin-top: -200px;
}
.input-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-control input {
    display: block;
    border-radius: 4px;
    background-color: transparent;
    color: rgb(242, 255, 4);
    margin-bottom: 1px;
    font-size: 14px;
}
.input-control input:focus{
    outline: 0;
}
.input-control.success input {
    border-color: greenyellow;
}
.input-control.error input {
    border-color: red;
}
.input-control .error {
    color: red;
    font-size: 11px;
    height: 13px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
}
.booktime{
    position: relative;
    margin: 10px;
}
.booktime .cost{
    visibility: hidden;
    width: 50px;
    background-color: rgb(65, 64, 64);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 2px 5px;
    position: absolute;
    top:20px;
    left: -2.5px;
}
#row1 .booktime .cost{
    visibility: hidden;
    width: 50px;
    background-color: rgb(65, 64, 64);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 2px 5px;
    position: absolute;
    top:-25px;
    left: -2.5px;
}
.booktime:hover .cost{
    visibility: visible;
}
#row1 .booktime:hover .cost{
    visibility: visible;
}
.booktime:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.5);
}
.showbooking {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.showbooking .showtime{
    margin-right: 5px;
}
.showbooking .selected{
    margin-right: 5px;
    margin-left: 30px;
}
.showbooking .occupied{
    margin-right: 5px;
    margin-left: 30px;
}
.selected{
    color: rgb(155, 0, 169, 0.8)
}
.occupied{
    color: red;
}
p.text span{
    color: black;
}
input{
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
  }
  
:-moz-placeholder {
    text-align: center;
  }

.logo {
    cursor: pointer;
}

.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.nav li a {
    transition: all 0.3s ease 0s;
}

.nav li a:hover {
    color:rgb(155, 0, 169, 0.8)
}

.content{
    
    text-align: center;
}

.content h2{
    font-size: 130px; 
    font-weight: 600;
    color: rgb(242, 255, 4);
    transition: 0.5s;
    margin-bottom: 200px;
}

.content h2:hover{
    -webkit-text-stroke: 2px rgb(129, 131, 63);
    color: transparent;
}

.first-backvideo{
    position: absolute;
    width: 31.9%;
    z-index: -1;
    filter: brightness(70%) blur(1px);
}

button{
    padding: 9px 25px;
    background-color: rgb(155, 0, 169, 1);
    border: 2px solid black;;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(155, 0, 169, 0.8);
}

/* media querys for responsibility */

@media screen and (max-width: 768px) {

    header{
        flex-direction: column;
    }
    .nav {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .content h2{
        font-size: 80px;
    }
    .first-backvideo{
        width: 65%;
    }
}

@media screen and (max-width: 480px) {

    .burger-nav{
        display: block;
        height: 40px;
        margin-top: 15px;
        background: url(images/burgernav.webp) no-repeat center/40px 40px;
        cursor: pointer;
    }
   
    .nav{
        overflow: hidden;
        text-align: left;
        background-color: rgb(73, 73, 73);
        height: 0;
    }

    .nav.open{
        height: auto;
    }

    .nav li{
          display: block;
          margin: 0;
          padding: 0;      
    }

    .nav li a{
        padding: 10px;
        border-bottom: 2px solid rgb(155, 0, 169, 1);
        display: block;
        margin: 0;
    }

    .content h2{
        font-size: 40px;
        margin-top: -200px;
    }
    .first-backvideo{
        width: 90%;
    }
    .form{
        margin-top: 85px;
    }
    .showbooking{
        flex-direction: column;
    }
    .showbooking .showtime{
        margin-right: 0px;
        margin-bottom: -4px;
    }
    .showbooking .selected{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: -4px;
    }
    .showbooking .occupied{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: -4px;
    }
    .time{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .row{
        flex-direction: column;
    }
}
/* end media querys for responsibility */